<!DOCTYPE html>
<html>
<head>
    <title>Ошибка подключения к БД</title>
    <meta charset="utf-8" />
</head>
<body>

     
    <h1>Ошибка подключения к БД</h1>

    {{#if errDB}}
    <form action="/mysql/createdb" method="POST">
        <p>Ошибка подключения к базе данных</p>
        <p>не верное имя базы данны:"{{DBname}}"</p>
        <input type="hidden" name="DatabaseMySQL" value="{{DBname}}"" >
        <a>Создать базу данных {{DBname}} ?</a>
        <input type="submit" value="Создать базу данных" />
    </form>
    {{/if}}

     {{#if errLogin}}
    <p>Ошибка подключения к базе данных</p>
    <p>Не верный логин или пароль</p>
    {{/if}}    
    <p></p>
<a href="/mysql/config">Настроить подключение к серверу MySQL</a>
</body>
<html>