<!DOCTYPE html>
<html>
<head>
    <title>Configuring a MySQL database connection</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Connect config</h1>
     <form action="postMySQLconfigSave" method="POST">
        <label>IP server address</label>
        <input name="IPaddressMySQL" /><br><br>
        <label>Login</label>
        <input name="LoginMySQL" /><br><br>
        <label>Password</label>
        <input name="PasswordMySQL" /><br><br>
        <label>Database</label>
        <input name="DatabaseMySQL" /><br><br>
        
        <input type="submit" value="Save" />
     </form>
     <a href="/users">Back to user list</a>
</body>
<html>