<!DOCTYPE html>
<html>
<head>
    <title>Настройка подключения к базе данных MySQL</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Connect config</h1>
     <form action="postMySQLconfigSave" method="POST">
        <label>IP server address</label>
        <input IPaddressServerMySQL="IPaddressServerMySQL" /><br><br>
        <label>Login</label>
        <input LoginMySQL="LoginMySQL" /><br><br>
        <label>Password</label>
        <input PasswordMySQL="PasswordMySQL" /><br><br>

        <input type="submit" value="Save" />
     </form>
     <a href="/users">К списку пользователей</a>
</body>
<html>